library/src/main/java/library/files/Validator.xsd

<?xml version = "1.0" encoding="UTF-8" standalone="yes" ?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="books">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="book" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="title" type="xsd:string"/>
                            <xsd:element name="author" type="xsd:string"/>
                            <xsd:element name="genre" type="xsd:string"/>
                            <xsd:element name="isbn" type="xsd:string"/>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>